@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --primary-color: #13183F;
    --secondary-color: #83869A;
    --main-font-family: "Plus Jakarta Sans", sans-serif;
    --extra-bold: 800;
    --bold: 700;
    --medium: 500;
    --heading-xl: 56px;
    --heading-l: 40px;
    --heading-m: 32px;
    --heading-s: 24px;
    --body-m: 18px;
    --body-s: 16px;
    --btn-padding: 14px 31px;
    --btn-radius: 30px;
    --main-transition: all 0.2s ease-in;
    --hover-filter: brightness(1.2);
    --card-padding: 64px 32px 40px 32px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font-family);
}

body {
    overflow-x: hidden;
}

/* HEADER */
.main_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 165px;
}

.nav_logo {
    font-weight: var(--extra-bold);
    font-size: var(--heading-m);
    color: var(--primary-color);
}

.btn_nav {
    background-color: var(--primary-color);
    color: #FFF;
    font-weight: var(--bold);
    padding: var(--btn-padding);
    border-radius: var(--btn-radius);
    cursor: pointer;
    transition: var(--main-transition);
    z-index: 1;
}

.btn_nav:hover {
    filter: var(--hover-filter);
}

/* HERO */
.hero_text {
    margin-top: 185px;
    width: 31%;
    margin-left: 165px;
}

.hero_title {
    font-size: var(--heading-xl);
    font-weight: var(--extra-bold);
    color: var(--primary-color);
    margin-bottom: 29px;
}

.hero_body {
    color: var(--secondary-color);
    font-size: var(--body-m);
    font-weight: var(--medium);
    margin-bottom: 40px;
    line-height: 28px;
}

.hero_btn {
    padding: var(--btn-padding);
    border-radius: var(--btn-radius);
    transition: var(--main-transition);
    cursor: pointer;
    background: linear-gradient(to top, #F02AA6, #FF6848);
    color: #FFF;
    width: 33%;
    font-weight: var(--bold);
}

.hero_btn:hover {
    filter: var(--hover-filter);
}

.hero_img_desktop {
    width: 66%;
    position: absolute;
    right: -19%;
    top: -16%;
}

/* COURSES */
.courses {
    margin-top: 226px;
    background: linear-gradient(to bottom, #FFF, #F0F1FF);
    padding: 24px 165px 140px 165px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 65px 30px;
}

.course_card_main {
    padding: var(--card-padding);
    background: linear-gradient(to top, #F02AA6, #FF6848);
    border-radius: 15px;
    color: #FFF;
}

.card_main_title {
    font-size: var(--heading-m);
    font-weight: var(--extra-bold);
    width: 80%;
}

.course_card_secondary {
    background-color: #FFF;
    border-radius: 15px;
    padding: var(--card-padding);
    position: relative;
}

.icon_container {
    position: absolute;
    top: -8%;
}

.card_title {
    font-size: var(--heading-s);
    font-weight: var(--extra-bold);
    color: var(--primary-color);
    margin-bottom: 24px;
}

.card_body {
    font-size: var(--body-s);
    font-weight: var(--medium);
    color: var(--secondary-color);
    height: 110px;
    margin-bottom: 24px;
    line-height: 28px;
}

.card_btn {
    font-weight: var(--bold);
    color: #F74780;
    cursor: pointer;
    transition: var(--main-transition);
    width: 30%;
}

.card_btn:hover {
    filter: var(--hover-filter);
}

/* FOOTER */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 165px;
    background-color: var(--primary-color);
}

.footer_logo {
    color: #FFF;
    font-size: var(--heading-m);
    font-weight: var(--extra-bold);
}

.footer_btn {
    background: linear-gradient(to bottom, #4851FF, #F02AA6);
    border-radius: var(--btn-radius);
    padding: var(--btn-padding);
    color: #FFF;
    font-weight: var(--bold);
    cursor: pointer;
    transition: var(--main-transition);
}

.footer_btn:hover {
    filter: var(--hover-filter);
}